VITE_SUPABASE_PROJECT_URL=https://ozatqjrwquuusibmfern.supabase.co/
VITE_SUPABASE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96YXRxanJ3cXV1dXNpYm1mZXJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjUyODc4NjgsImV4cCI6MjA0MDg2Mzg2OH0.VxWoMe3Ngd7bClfBL6nrWsM-D_iFUh0SiVR9MxmdQig
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvamZra3JlZXBmbWpibm9zZ2x0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjU3NjYyMTgsImV4cCI6MjA0MTM0MjIxOH0.LGmBChpbHOXYya0KjymEP3-TmKyoVGwK1Md-vlRKdFI
